@media all and (min-width: 1800px) {
  html {
    font-size: 18px;
  }

  .main-logo {
    width: 40vw;
  }

  .main-screen {
    height: 50vh;
  }

}

@media all and (max-width: 1100px) {
  .toper-left {
    height: 1135px;
  }

  .form-bottom {
    width: 100%;
  }
}


@media all and (max-width: 960px) {
  .toper-left {
    height: 1240px;
  }

  .container {
    width: 70%;
  }
}

@media all and (max-width: 870px) {
  .main-logo {
    min-height: 20vh;
    width: 85vw;
  }

  .vid-wrapp {
    height: 200px;
  }
}

@media all and (max-width: 800px) {
  .toper-left {
    height: 1300px;
    margin-right: 5px;
  }

  ul.leng-list {
    width: 25vw;
    font-size: 1.5em;
  }

  ul.leng-list img {
    height: 14px;
  }
}

@media all and (max-width: 500px) {
  #carousel {
    width: 210%;
    margin-left: -52.5%;
  }
}

@media all and (max-width: 450px) {
  #carousel {
    width: 250%;
    margin-left: -76%;
  }
}

@media all and (max-width: 390px) {
  #carousel {
    width: 100%;
    margin-left: 0%;
  }
}


@media all and (max-width: 735px) {
  html {
    font-size: 13px;
  }

  .video-wrapp {
    padding: 0 20px;
  }

  .vid-wrapp {
    margin: 0 10px;
  }

  .container {
    width: 90%;
  }

  .main-screen {
    height: 70vh;
  }

  .toper-left {
    float: none;
    height: 900px;
    margin-bottom: -500px;
  }

  .or-sample {
    margin-top: -26px;
  }

  .checking {
    margin-top: -45px;
  }
}


@media all and (max-width: 650px) {
  .left-block {
    text-align: center
  }

  .list-colors {
    display: block;
  }

  .footer-info-screen {
    display: none;
  }

  .info_screen,
  .info_screen .wrapp-info {
    padding-bottom: 0px;
  }

  .media-screen .wrapp-info {
    padding-top: 30px;
  }

  .wrapp-info h1,
  .wrapp-info h2 {
    font-size: 3em;
  }

  .toper-left {
    margin: 0 auto;
    float: none;
    height: auto;
    width: 34vw;
    margin-bottom: 0px;
  }

  .vid-wrapp {
    margin: 0 10px;
    height: 150px;
  }
}

@media all and (max-width: 501px) {
  ul.leng-list {
    width: 90%;
    top: 67px;
    right: 5%;
  }

  .video-wrapp {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  .videos {
    flex-direction: column;
  }

  .vid-wrapp {
    width: auto;
    margin: 0 0 15px;
    height: 50vw;
  }
}

@media all and (max-width: 470px) {
  html {
    font-size: 12px;
  }

  .or-sample {
    margin-top: -25.2px;
  }
}

@media all and (max-width: 430px) {

  #show430 {
    display: block;
    font-size: 3.6em;
    line-height: 1em;
  }

  .info_screen .container {
    padding-top: 70px;
  }

  .info_screen .wrapp-info {
    padding-top: 20px;
  }

  #hide430 {
    display: none;
  }

  .toper-left {
    margin: 0;
    float: left;
  }

  .text-wrapp p,
  .text-wrapp ul {
    font-size: 1.48em;
  }

  .form-input,
  .wrapp-email {
    font-size: 1.4em;
  }

  .form-input {
    padding: 12px;
  }

  .or-sample {
    margin-top: -29px;
  }

  .checking {
    margin-top: -50px;
  }

  .icon {
    margin: 20px 15px;
  }
}

@media all and (max-width: 330px) {
  #show430 {
    display: block;
    font-size: 12.5vw;
  }

  .icon {
    margin: 0 5px;
  }

  .icon img {
    width: 27px;
  }
  .socials {
    justify-content: space-between;
    padding: 20px 10px;
  }
  .vid-wrapp {
    margin: 0 0 10px;
  }
}
