* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Cera Pro Regular', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a.link {
  color: #7bbcff;
}

a.link:hover {
  color: #a9d3ff;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input,
ul.leng-list a,
.button-nav,
ul.leng-list li,
.img-cert-wrapp img,
.img-cert-wrapp .cert-lang {
  transition: all .18s ease;
  -webkit-transition: all .18s ease;
  -moz-transition: all .18s ease;
}

h1,
h2,
h3 {
  font-family: "Exo 2.0 Extra Bold", sans-serif;
  color: white;
}

.screen {
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
}

.m-center {
  margin: 0 auto;
}

#language-button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

#language-button:hover .button-leng {
  transform: scale(0.85);
}

#language-button.wow {
  animation: buttonShow 1.5s ease;
}

#language-button.wow .button-leng {
  animation: buttonSmall 1.5s ease;
}

@keyframes buttonShow {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes buttonSmall {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.79);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.79);
  }

  100% {
    transform: scale(1);
  }

}

.lang-select {
  position: relative;
  color: #fff;
  border: none;
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

ul.leng-list {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 71px;
  display: none;
}

.lang-input {
  cursor: pointer;
  background: #fff;
  color: #000000;
  padding: 8px;
}

.link-list:first-child .lang-input {
  border-radius: 5px 5px 0 0;
}

.link-list:last-child .lang-input {
  border-radius: 0 0 5px 5px;
}

.link-list:hover .lang-input {
  background-color: #242424;
  color: #fff;
}


.lang-input.active {
  font-weight: bolder;
}

.lang-input img {
  height: 10px;
}

.button-leng {
  transition: transform .2s ease;
  width: 25px;
  height: 25px;
}

.button-leng img {
  height: 25px;
}

.container {
  width: 60%;
}

.main-screen,
.video_wrapper,
.main-screen::after,
.video_wrapper::after {
  background-color: #0b0b0b;

}


.main-screen {
  height: 81vh;
  position: relative;
}


html[lang="pl"] .main-screen,
html[lang="pl"] .footer-info-screen {
  background-color: #D4213D;
}

html[lang="pl"] .main-screen::after,
html[lang="pl"] .footer-info-screen::after,
html[lang="pl"] .footer-screen::before,
html[lang="pl"] .footer-screen,
html[lang="pl"] .footer-info-screen::before,
html[lang="pl"] .form-input,
html[lang="pl"] .or-sample span {
  background-color: #D4213D;
}

html[lang="pl"] .info_screen,
html[lang="pl"] .media-screen,
html[lang="pl"] .form-input:focus {
  background-color: #ffffff;
  color: #000000 !important;
}

html[lang="pl"] .wrapp-info h1,
html[lang="pl"] .right-block .list-colors h2 {
  color: #000000 !important;
}



.main-screen::after,
.footer-info-screen::after,
.video_wrapper::after {
  content: '';
  position: absolute;
  background-color: #0b0b0b;
  height: 20px;
  width: 100%;
  bottom: -30px;
}

.main-logo {
  display: block;
  max-height: 55vh;
  max-height: auto\9;
  width: 80vw;
}

main {
  display: block;
}

.info_screen,
.media-screen,
.certif-wrapp {
  background: #ffe000;
  padding-bottom: 80px;
}

.certs-imgs {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.img-cert-wrapp img {
  width: 100%;
  margin-bottom: -4px;
}

.img-cert-wrapp {
  position: relative;
  padding: 5px;
  border: 5px solid white;
  margin: 0px 5px;
  opacity: 1;
}
.cert-lang {
  position: absolute;
  text-transform: uppercase;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0.2), #fff);
  background: -o-linear-gradient(right, #fff, rgba(255, 255, 255, 0.2), #fff);
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.2), #fff);
  width: 100%;
  width: calc(100% + 1px);
  padding: 10px 0;
  left: 0;
  bottom: 46.2%;
  bottom: calc(50% - 19px);
  text-align: center;
  opacity: 0;
}

.img-cert-wrapp:hover img {
  transform: scale(0.99);
  opacity: .8;
}
.img-cert-wrapp:hover .cert-lang {
  opacity: 1;
}

.wrapp-info {
  padding: 80px 0;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.wrapp-info.def-w {
  padding-bottom: 10px;
}

.wrapp-info.def-b {
  padding: 60px 0 10px;
}


.left-block {
  width: 40%;
}

.right-block {
  width: 60%;
}

.toper-left {
  float: right;
  position: relative;
  margin-right: 40px;
  margin-bottom: -500px;
  z-index: 100;
  height: 1095px;
}

html[lang="pl"] .toper-left {
  margin-bottom: -550px;
}

.text-wrapp h1,
.text-wrapp h2 {
  font-weight: 700;
}

.container h1 {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 30px;
}

.list-colors,
#show430 {
  display: none;
}

h1#show430 {
  margin-bottom: 10px;
}

html[lang="pl"] h1#show430 {
  color: #000000;
}

.text-wrapp h2 {
  font-size: 3.3em;
}

.text-wrapp p,
.text-wrapp ul {
  margin: 10px 0;
  font-size: 1.48em;

}

.text-wrapp.w {
  color: #fff;
}

.text-wrapp ul {
  font-size: 1.8em;
  margin-left: 1.01em;
}

.carousel-wrapp {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#carousel {
  margin-left: -25%;
  width: 150%;
}

.swiper-pagination-bullet {
  background: black;
  transform: scale(1.3);
}

.swiper-pagination-bullet {
  opacity: .4;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffe000;
  opacity: 1;
}


.button-nav {
  cursor: pointer;
  position: absolute;
  top: 41%;
  height: 100px;
  width: 50px;
  margin: 0 10px;
  background: url(../img/arrow-nav.svg) no-repeat center;
  background-size: cover;
  z-index: 100;
  opacity: 0;
}

.carousel-wrapp:hover .button-nav {
  opacity: .5;
}

.carousel-wrapp:hover .button-nav:hover,
.carousel-wrapp:hover .button-nav:focus,
.button-nav:focus {
  opacity: .9;
}

.nav-prev {
  left: 0;
}

.nav-next {
  right: 0;
  transform: rotate(180deg);
}

.swiper-slide img {
  width: inherit;
}

.video-wrapp {
  padding: 0 50px;
}

.videos {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.vid-wrapp {
  width: 50%;
  height: 300px;
  margin: 0 20px;
  border: 7px solid #ffe000;
  border-radius: 2px;
}

.footer-screen,
.footer-info-screen,
.video_wrapper {
  color: white;
  z-index: 10;
  position: relative;
  background-color: #0b0b0b;
  padding-bottom: 15px;
}


.p_b {
  padding-bottom: 40px;
}


.footer-screen {
  padding-bottom: 30px;
}

.footer-screen::before,
.footer-info-screen::before,
.video_wrapper::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  top: -30px;
  background-color: #0b0b0b;
}


.wrapp-form {
  border-bottom: 2px solid #fff;
  margin-bottom: 40px;
}

.wrapp-form h1 {
  font-size: 3em;
}

.wrapp-form h1,
.wrapp-form h2 {
  margin-bottom: 10px;
}

.form-bottom {
  position: relative;
  width: 600px;
  padding: 40px 0 15px;
}

.wrapp-email {
  text-align: center;
  border-top: solid 2px white;
  padding-top: 15px;
  margin-top: 15px;
}

.wrapp-email p {
  margin: 15px 0;
}

.or-sample {
  width: 100%;
  margin-top: -27px;
  position: absolute;
}

.or-sample span {
  background: #0b0b0b;
  padding: 0 5px;
}


.form-bottom .error {
  position: absolute;
  bottom: 87px;
  color: #ff6500;
  font-weight: bolder;
}

.form-input {
  font-size: 1em;
  font-family: 'Cera Pro Regular', sans-serif;
  width: 100%;
  margin: 15px 0;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
}

.form-input[type="submit"] {
  cursor: pointer;
}

.form-input[type="submit"].sending {
  cursor: progress;
  color: #000;
  font-weight: bolder;
  background: peachpuff linear-gradient(90deg, rgba(0, 0, 0, 0.4) 50%, rgba(224, 224, 224, 0.6) 50%) center center / 2em;
  animation: sendingProcess 6s linear;
  animation-iteration-count: infinite;
}

@keyframes sendingProcess {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 98.5%;
  }
}

.form-input[type="submit"]:not(.sending):disabled {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.form-input[type="submit"].sending:disabled {
  cursor: wait;
}

.form-input:focus,
.form-input[type="submit"]:not(:disabled):hover {
  outline: none;
  background-color: #ffffff;
  color: #000;
}

.form-input:not([type="submit"]):not(:focus):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.form-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-input::-webkit-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-input::-ms-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.company-adress,
.company-logo {
  width: 50%;
}

.company-adress {
  font-size: 0.8em;
}

.company-logo img {
  float: right;
  margin-right: 20px;
  width: 100px;
}

.cont-center {
  /*  justify-content: center;*/
}

.cont-fl > div {
  width: 50%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;

  flex-direction: column;
  margin: 15px;
}

.company-logo {
  align-self: center;
  align-items: flex-end;
}

.company-info {
  align-items: flex-start;
}

.checking {
  margin-top: -47px;
  margin-right: 12px;
  position: absolute;
  right: 0;
}

.checking img {
  display: none;
  height: 20px;
}
